body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6756ff;
    font-family: Arial;
}

.container {
    text-align: center;
}

.heading {
    color: white;
    margin-bottom: 20px;
}

.box {
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.4);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: white;
    border-radius: 16px;
}


