body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#0f172a, #020617);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reference {
  width: 220px;
  height: 220px;
  border-radius: 12px;
}

.puzzle {
  width: 220px;
  height: 220px;
  display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-template-rows: repeat(2, 110px);
  gap: 0;
  border-radius: 12px;
  background: white;
  overflow: hidden;
}

.slot {
  border: 2px dashed #22c55e;
  box-sizing: border-box;
}

.pieces {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.piece {
  width: 110px;
  height: 110px;
  object-fit: cover;
  cursor: grab;
}


.p0 { object-position: 0% 0%; }
.p1 { object-position: 100% 0%; }
.p2 { object-position: 0% 100%; }
.p3 { object-position: 100% 100%; }

#status {
  margin-top: 20px;
}
